html {
    font-size:18px;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 32px;
    }
}


body {
    background-color: #000000;
}

.bid-bg {
    background-color: #008f95;
}

.ask-bg {
    background-color: #e24e42;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.market-depth {
    display: flex;
    margin-bottom: 0.5rem;
}

.market-depth-header {
    display: flex;
    align-items: center;
}

.market-depth-header-title {
    margin-left: 0.4rem;
    font-size: 2rem;
}

.column-left {
    flex-grow: 1;
    border-radius: 2px 0 0 2px;
}

.column-right {
    flex-grow: 1;
    border-radius: 0 2px 2px 0;
}

.row {
    display: flex;
}

.row-right {
    justify-content: flex-start;
}

.row-left {
    justify-content: flex-end;
}

.row-center {
    justify-content: center;
}

.row-header {
    font-size: 1.5rem;
    border-bottom: 1px solid #aaaaaa;
}

.cell {
    flex-grow: 1;
    width: 5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
    user-select: none;
}

.cell-left {
    text-align: left;
    margin-left: 5px;
}

.cell-right {
    text-align: right;
    margin-right: 5px;
}

.cell-center {
    text-align: center;
}

.bluehover:hover {
    background-color: #e9b000;
    color: #000000;
}

.level-one {
    display: flex;
    margin-bottom: 0.5rem;
}

.level-one-column-left {
    flex-grow: 1;
    border-radius: 2px 0 0 2px;
}

.level-one-column-right {
    flex-grow: 1;
    border-radius: 0 2px 2px 0;
}

.level-one-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
}

.level-one-cell {
    margin: 5px;
    flex-grow: 1;
    min-width: 2vw;
    user-select: none;
}

.sec {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
    margin-left: 5px;
}

.sec-ten {
    background-color: #2FEFEF;
}

.sec-nine {
    background-color: #48F0C0;
}

.sec-eight {
    background-color: #00EF47;
}

.sec-seven {
    background-color: #00F000;
}

.sec-six {
    background-color: #8FEF2F;
}

.sec-five {
    background-color: #EFEF00;
}

.sec-four {
    background-color: #D77700;
}

.sec-three {
    background-color: #F06000;
}

.sec-two {
    background-color: #F04800;
}

.sec-one {
    background-color: #D73000;
}

.sec-zero {
    background-color: #F00000;
}

.item-widget {
    display: block;
    padding: .222em 0;
    vertical-align: middle;
    width: 100%;
}

.ui-controlgroup {
    display: block;
}